body {
    background-color: rgba(0, 255, 255, 0.418);
}

.Site {
    border: 4px solid;
    border-color: rgb(221, 213, 97);
}

.Title {
    font-size: 60px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.Description {
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.Title span {
    background-color: rgb(221, 213, 97);
}

.Description span {
    background-color: rgb(221, 213, 97);
}

.Images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Image_1_background, .Image_2_background, .Image_3_background {
    background-color: rgba(86, 199, 199, 0.418);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    border: 0px solid;
    border-radius: 40px;
}

.Image_1, .Image_2, .Image_3 {
    background-color: aquamarine;
    width: 450px;
    height: 600px;
    border: 2px solid;
    border-radius: 40px;
}

.List_1 {
    background-color: rgb(221, 213, 97);
    border: 4px solid;
    font-size: 20px;
    width: 1700px;
    margin-top: 10px;
    margin-left: 4px;
    
}

.List_2, th, td {
    background-color: rgb(221, 213, 97);
    border: 4px solid;
    font-size: 20px;
    width: 1700px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
}

.Table_title_1, .Table_title_2, .Table_title_3 {
    background-color: rgb(231, 74, 69);
}

td{
    background-color: rgb(131, 128, 128);
}